<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Ahora el botón abre el menú -->
    </ion-buttons>
    <ion-title>Cuentax</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="contenidoImagen">
    <ion-avatar class="profile-avatar">
      <img alt="Silhouette of a person's head" [src]="profileImage"/>
      <ion-fab  class="fab-custom-position" vertical="bottom" horizontal="end">
        <ion-fab-button color="success" (click)="takePhoto()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>  
    </ion-avatar>
  </div>
  <ion-list id="custom-status-list">
    <ion-item [button]="true" lines="none" id="open-modal">
      <ion-label>
        <h3>Nombre</h3>
        <p>Angel Alvarez</p>
      </ion-label>
      <div class="metadata-end-wrapper" slot="start" style="font-size: 20px;">
        <ion-icon name="person-outline"></ion-icon>
      </div>
    </ion-item>
    <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>
            <h3>Escribe tu nombre</h3>
          </ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
    <ion-popover [keepContentsMounted]="true" trigger="open-popover"  [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" lines="none">Nuevo grupo</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-list>
</ion-content>
